main.conteudo section{
    width: 100%;
    margin: auto;
}

main.conteudo section article{
    width: 60%;
    margin: auto;
}

main.conteudo section article div.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

main.conteudo section article div.imagem{
    height: 400px;
}

main.conteudo section article div.imagem img{
    height: 400px;
}

main.conteudo section article div.titulo h1{
    font-size: 40px;
}

main.conteudo section article div.titulo h3{
    color: #6c6c6c;
    font-weight: 400;
}

main.conteudo section article div.input input.pesquisar{
    width: 95%;
    height: 100%;
    border: none;
    padding-left: 30px;
    outline: none;
    font-size: 20px;
}

main.conteudo section article div.input .search{
    color: #16e2eb;
    font-size: 20px;
    margin-left: 20px;
}

main.conteudo section article div.input{
    width: 100%;
    border: 1px solid #6c6c6c;
    border-radius: 10px;
    height: 60px;
    position: relative;
    top: -30px;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 0;
}

.body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 340px;
    grid-template-areas: 
        'header header'
        'conteudo conteudo'
        'footer footer';
    height: 100vh;
    background-color: #fff;  
    
}

header.header{
    grid-area: header;
}

main.conteudo{
    grid-area: conteudo;
}

footer.footer{
    grid-area: footer;
}

section article.listaDeUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

section article ul{
    display: flex;
    max-width: 852px;
    overflow: hidden;
}

section article ul li.usuario{
    width: 250px;
    height: 200px;
    border: 1px solid #525252;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

section article.listaDeUsuario button{
    border: none;
    background-color: #16e2eb;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.profisionais{
    text-align: center;
    background-color: #F8F8F8;
    padding: 50px;
}

section.profisionais p.subtitulo{
    color: #6c6c6c;
}

.sectionPesquisa{
    background-color: #fff;
}

button.arrastar{
    border: none;
    position: fixed;
    left: 95%;
    top: 90%;
    padding: 15px;
    background-color: #16e2eb;
    border-radius: 10px;
    color: #fff;
}

div.contrato{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dfe1e0;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

div.contrato button{
    border-radius: 5px;
    margin-left: 8px;
    background-color: #16e2eb;
    color: #fff;
    border: none;
    padding: 5px;
}