@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 340px;
    grid-template-areas: 
        'header header'
        'conteudo conteudo'
        'footer footer';
    height: 100vh;
    background-color: #fff;  
    
    font-family: "Anek Devanagari", sans-serif;
}

header.header{
    grid-area: header;
}

main.conteudo{
    grid-area: conteudo;
}

footer.footer{
    grid-area: footer;
}